.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.logo-img{
    height: 70px;
    width: 70px;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none; /*By giving this list-style none the dots of ul will disappear */
    font-size : 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B933E1);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

/*For hover effect of connect with me button*/
.nav-connect:hover{
   transform: scale(1.05);
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
    display: flex;
    margin: auto;
}

.anchor-link{
    text-decoration: none;
    color: white;
}

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}

@media(max-width:768px){
    .navbar{
        margin:20px 50px;
    }

    .nav-connect{
        display: none;
    }

    .nav-mob-open{
        position: fixed;
        display: block;
        right: 30px;
    }

    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li{
        flex-direction: row;
        font-size: 30px;
        padding-left: 100px;
        gap: 20px;
    }
}